/backup
/node_modules/
/logs
/log
/utils/account.json
/utils/CookieSet.json
/utils/JD_DailyBonus.js
/utils/exceptCookie.json 
/config/fileListAutoRun.js
/config/0copejs.js
/config/
/0config/
/tools/account.json
/CookieSet.json
/box.dat
JD_DailyBonus.js
result.txt
yarn.lock
.history
.idea
.env
/*alidate.txt
.DS_Store
*.json
*.log